.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--icon-color);
  padding: 15px;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav__list-item {
  display: inline;
}

.link--nav {
  color: var(--icon-color);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.link--nav:hover {
  color: #ddd;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn--icon {
  font-size: 24px;
  color: var(--icon-color);
}

.center {
  text-align: center;
}

.nav__theme, .nav__hamburger {
  margin-left: 20px;
}
